@import "../../common/variables.scss";

.header {
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 10px 25px;
  text-align: left;
  background-color: lightgray;
  color: gray;

  .title {
    display: inline;
    color: darkgoldenrod;
    font-size: 1.4em;
  }

  .navigation {
    float: right;
  }

  a {
    font-size: 1.2em;
  }
}
