.header {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 25px;
  text-align: left;
  background-color: lightgray;
  outline: 1px solid rgb(168, 168, 168);
  color: gray;

  .title {
    display: inline;
    color: darkgoldenrod;
    font-size: 1.4em;
  }

  .navigation {
    float: right;
  }

  span {
    font-size: 1.2em;
  }
}
