.pagination {
  // position: absolute;
  // top: 5px;
  // // left: 5px;
  // right: 5px;
  // width: 275px;
  // width: $match-preview-short;
  // position: fixed;
  // width: 100%;
  margin-top: 50px;
  margin-left: 20px;
  
  &:last-child {
    margin-left: 20px;
  }
  & * {
    display: inline-flex;
    // margin: 2px;
    margin: 3px;
  }
  
}
