@import "../../common/variables.scss";

.footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 10px 25px;
  text-align: right;
  background-color: lightgrey;
  color: gray;
}
