.App {
  // text-align: center;
  position: relative;
	min-height: 100%;

  .content {
    padding: 5px 25px 50px 25px;
  }

  .add-button {
    display: inline-flex;
    top: -1px;
    margin-right: 5px;
  }

  .add-button, .search-input {
    z-index: 100;
  }
}
