.App {
  position: relative;
  min-height: 100%;
  

  .content {
    padding: 15px 25px 50px 25px;

    h2 {
      text-align: center;
      font-size: 30px;
      color: darkslategray;
    }
  }

  .add-button {
    display: inline-flex;
    top: -1px;
    margin-right: 5px;
  }

  .add-button, .search-input {
    z-index: 2;

    // .controls {
    //   z-index: 11;
    // }
  }
}
